apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: mtasks
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: task-platform:dev
        imagePullPolicy: IfNotPresent
        command: ["uvicorn"]
        args: ["app.main:app", "--host", "0.0.0.0", "--port", "8000"]
        env:
          - name: POSTGRES_HOST
            value: postgres
          - name: POSTGRES_DB
            value: mtasks
          - name: POSTGRES_USER
            value: postgres
          - name: POSTGRES_PASSWORD
            value: example
          - name: CELERY_BROKER_URL
            value: amqp://guest:guest@rabbitmq:5672//
          - name: CELERY_RESULT_BACKEND
            value: redis://redis:6379/0
        ports:
          - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: mtasks
spec:
  selector:
    app: api
  ports:
    - port: 8000
