apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: mtasks
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: task-platform:dev
        imagePullPolicy: IfNotPresent
        command: ["celery"]
        args: ["-A", "app.celery_app", "worker", "--loglevel=info"]
        env:
          - name: POSTGRES_HOST
            value: postgres
          - name: POSTGRES_DB
            value: mtasks
          - name: POSTGRES_USER
            value: postgres
          - name: POSTGRES_PASSWORD
            value: example
          - name: CELERY_BROKER_URL
            value: amqp://guest:guest@rabbitmq:5672//
          - name: CELERY_RESULT_BACKEND
            value: redis://redis:6379/0
